Repository mappy4ever/DexTrends: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck', vitest related --run

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit --skipLibCheck'"
  ],
  "*.test.{ts,tsx}": [
    "vitest related --run"
  ]
}

fix: Disable Vercel image optimization to resolve quota limits
  next.config.mjs
  utils/imageLoader.js
Due: eslint --fix, prettier --write

fix: Add TypeScript dependencies for build
  package-lock.json
  package.json
Due: prettier --write

fix: Fix JSX syntax error and add ESLint dependency
  components/PocketDeckViewer.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: Fix remaining JSX syntax and add ESLint Next.js config
  components/PocketDeckViewer.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: Fix JSX syntax error in PocketExpansionViewer
  components/PocketExpansionViewer.js
Due: eslint --fix, prettier --write

fix: Fix all JSX syntax errors in Image components
  components/PocketExpansionViewer.js
  components/ui/IntelligentRecommendations.js
  components/ui/PocketDeckBuilder.js
  components/ui/PokemonCardItem.js
  fix-all-image-jsx.py
Due: eslint --fix, prettier --write

fix: Comprehensive JSX syntax fixes for all components
  components/CollectionManager.js
  components/GlobalSearchModal.js
  components/MarketAnalytics.js
  components/Navbar.js
  components/PocketDeckViewer.js
  components/PocketModeLanding.js
  components/PokemonTCGLanding.js
  components/PriceAlerts.js
  components/mobile/MobileNavigation.js
  components/ui/BreadcrumbNavigation.js
  components/ui/EnhancedCardModal.js
  components/ui/EnhancedNavigation.js
  components/ui/EvolutionStageCard.js
  components/ui/IntelligentRecommendations.js
  components/ui/MobileCard.js
  components/ui/SimpleEvolutionDisplay.js
  components/ui/SimpleNavigation.js
  components/ui/UnifiedCard.js
  fix-all-image-jsx.py
  fix-all-jsx-errors.py
  fix-card-sharing-jsx.py
  fix-jsx-robust.py
  fix-jsx-systematic.py
  pages/favorites.js
  pages/index.js
  pages/pocketmode/deckbuilder.js
  pages/pocketmode/decks.js
  pages/tcgsets/[setid].js
  pages/trending.js
Due: eslint --fix, prettier --write

fix: Final JSX syntax error fixes for Vercel build success
  components/PriceHistory.js
  components/mobile/BottomSheet.js
  components/mobile/CardScanner.js
  components/mobile/GestureCardSorting.js
  components/mobile/MobileIntegration.js
  components/mobile/MobileShare.js
  components/mobile/PushNotifications.js
  components/pwa/AppUpdateNotification.js
  components/qol/ContextualHelp.js
  components/qol/SmartSearchEnhancer.js
  components/qol/UserPreferences.js
  components/ui/AdvancedDeckBuilder.js
  components/ui/AdvancedKeyboardShortcuts.js
  components/ui/AdvancedSearchInterface.js
  components/ui/AdvancedSearchSystem.js
  components/ui/BulkCardOperations.js
  components/ui/CardSharingSystem.js
  components/ui/CollectionTracker.js
  components/ui/DataAnalyticsDashboard.js
  components/ui/DeckStackDisplay.js
  components/ui/DragDropSystem.js
  components/ui/GameficationSystem.js
  components/ui/MarketInsightsDashboard.js
  components/ui/PerformanceDashboard.js
  components/ui/PocketDeckBuilder.js
  components/ui/PortfolioManager.js
  components/ui/PrintableCardLists.js
  components/ui/QATestingSuite.js
  components/ui/SkeletonLoadingSystem.js
  components/ui/SocialCommunityHub.js
  components/ui/TournamentSystem.js
  components/ui/TradingMarketplace.js
  components/ui/VirtualizedCardGrid.js
  components/ui/VisualCardSearch.js
  fix-jsx-final.py
Due: eslint --fix, prettier --write

fix: Ultimate JSX syntax error elimination attempt
  components/mobile/CardScanner.js
  components/mobile/MobileCardGrid.js
  components/qol/ContextualHelp.js
  components/qol/UserPreferences.js
  components/ui/AdvancedModalSystem.js
  components/ui/AdvancedSearchInterface.js
  components/ui/BulkCardOperations.js
  components/ui/CollectionTracker.js
  components/ui/DeckStackDisplay.js
  components/ui/MicroInteractionSystem.js
  components/ui/PerformanceDashboard.js
  components/ui/PocketDeckBuilder.js
  components/ui/PortfolioManager.js
  components/ui/ProgressiveDisclosure.js
  components/ui/QATestingSuite.js
  components/ui/SkeletonLoadingSystem.js
  components/ui/SocialPlatform.js
  components/ui/TooltipHelpSystem.js
  components/ui/TouchGestureSystem.js
  components/ui/TradingMarketplace.js
  fix-all-jsx-comprehensive.py
  fix-final-jsx-errors.py
  fix-jsx-ultimate.py
  next.config.mjs
Due: eslint --fix, prettier --write

fix: Comprehensive JSX syntax error elimination for Vercel deployment
  components/Navbar.js
  components/PokedexDisplay.js
  components/mobile/CardScanner.js
  components/mobile/EnhancedTouchInteractions.js
  components/mobile/FloatingActionButton.js
  components/mobile/GestureCardSorting.js
  components/mobile/MobileCardGrid.js
  components/mobile/MobileShare.js
  components/mobile/PullToRefresh.js
  components/mobile/VoiceSearch.js
  components/ui/AdvancedDeckBuilder.js
  components/ui/AdvancedLoadingStates.js
  components/ui/AdvancedModalSystem.js
  components/ui/AdvancedSearchInterface.js
  components/ui/AnimationShowcase.js
  components/ui/BulkCardOperations.js
  components/ui/CollectionTracker.js
  components/ui/DataAnalyticsDashboard.js
  components/ui/DeckStackDisplay.js
  components/ui/FloatingActionSystem.js
  components/ui/GameficationSystem.js
  components/ui/MicroInteractionSystem.js
  components/ui/PerformanceDashboard.js
  components/ui/PocketDeckBuilder.js
  components/ui/PortfolioManager.js
  components/ui/PriceIntelligenceSystem.js
  components/ui/ProgressiveDisclosure.js
  components/ui/QATestingSuite.js
  components/ui/SocialCommunityHub.js
  components/ui/TooltipHelpSystem.js
  components/ui/TouchGestureSystem.js
  components/ui/TournamentSystem.js
  components/ui/VirtualizedCardGrid.js
  components/ui/VisualCardSearch.js
  components/ui/VoiceSearchInterface.js
  fix-jsx-final-comprehensive.py
  playwright.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat: Re-enable ESLint and TypeScript checking after JSX fixes
  next.config.mjs
Due: none

feat: Comprehensive mobile optimization and layout fixes
  tsconfig.tsbuildinfo
Due: none

fix: Complete mobile optimization overhaul for PokeID page
  components/ui/MobileOptimizedPokeID.js
  pages/_app.js
  pages/pokedex/[pokeid].js
  styles/pokeid-mobile-fix.css
Due: eslint --fix, prettier --write

feat: World-class mobile optimization implementation
  MOBILE_UI_IMPLEMENTATION_GUIDE.md
  components/ui/MobilePokemonDetail.js
  docs/MOBILE_IMPLEMENTATION_GUIDE.md
  pages/_app.js
  styles/mobile-pokemon-components.css
  styles/pokeid-clean-mobile.css
  styles/pokeid-mobile-premium.css
Due: eslint --fix, prettier --write

fix: Add comprehensive error handling and fix build issues
  components/layout/errorboundary.js
  pages/500.js
  pages/_error.js
Due: eslint --fix, prettier --write

feat: Enhance Pokemon region pages with improved UI and features
  CLAUDE.md
  components/regions/BadgeCollection.js
  components/regions/EliteFourGallery.js
  components/regions/GameShowcase.js
  components/regions/GymLeaderCarousel.js
  components/regions/RegionHero.js
  components/regions/RegionInfo.js
  components/regions/StarterShowcase.js
  components/regions/StarterShowcaseEnhanced.js
  pages/pokemon/regions/[region]-components.js
  pages/pokemon/regions/[region].js
Due: eslint --fix, prettier --write

feat: Complete Phase 4 bundle optimization - code splitting & compression
  CLAUDE.md
  components/dynamic/DynamicComponents.js
  components/providers/AnimationProvider.js
  components/ui/EnhancedCardInteractions.js
  components/ui/EnhancedCardModal.js
  context/favoritescontext.js.backup
  next.config.mjs
  pages/api/pocket-cards.js
  pages/cards/[cardId].js
  pages/favorites.js
  pages/pokedex/[pokeid].js
  pages/pokeid-enhanced-test.js
  pages/pokeid-test.js
  pages/tcgsets/[setid].js
  project-resources/docs/ANIMATION_MIGRATION_GUIDE.md
Due: eslint --fix, prettier --write

fix: Update image loader to properly implement width parameter
  utils/imageLoader.js
Due: eslint --fix, prettier --write

fix: Simplify image loader to prevent infinite refresh loop
  utils/imageLoader.js
Due: eslint --fix, prettier --write

fix: Resolve hydration mismatch errors in Navbar and theme handling
  components/Navbar.js
  components/layout/layout.js
  context/UnifiedAppContext.js
  next.config.mjs
  pages/test-minimal.js
  project-resources/docs/HYDRATION_MISMATCH_FIX.md
Due: eslint --fix, prettier --write

fix: Resolve infinite refresh loop caused by unstable useEffect dependencies
  components/Navbar.js
  components/ui/FullBleedWrapper.tsx
  pages/test-minimal.js
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: Resolve build errors and white page issues after Phase 4 optimization
  CLAUDE.md
  components/CardList.js
  components/CollectionManager.js
  components/TrendingCards.js
  components/ui/EnhancedCardInteractions.js
  components/ui/EnhancedNavigation.js
  components/ui/FullBleedWrapper.tsx
  next.config.mjs
  project-resources/docs/PHASE_4_WHITE_PAGE_FIX.md
  project-resources/docs/PHASE_5_PERFORMANCE_IMPROVEMENTS.md
  utils/performanceMonitor.js
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat: Phase 6 Week 2 - TypeScript migration for utility files
  CLAUDE.md
  lib/supabase.d.ts
  pages/cards/[cardId].js
  pages/index.js
  project-resources/docs/MOUSE_EVENT_ERROR_FIX.md
  project-resources/docs/PHASE_6_TYPESCRIPT_MIGRATION_PROGRESS.md
  project-resources/docs/PHASE_6_WEEK_2_PROGRESS.md
  project-resources/docs/WEBPACK_ERROR_FIX.md
  types/api/api-responses.d.ts
  types/api/cards.d.ts
  types/api/pocket-cards.d.ts
  types/api/pokemon.d.ts
  types/components/common.d.ts
  types/components/events.d.ts
  types/components/navigation.d.ts
  types/context/favorites.d.ts
  types/context/unified-app-context.d.ts
  types/index.d.ts
  types/utils/cache.d.ts
  types/utils/performance.d.ts
  utils/dataTools.ts
  utils/formatters.ts
  utils/logoConfig.ts
  utils/pokemonTypeColors.ts
  utils/pokemonutils.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Lots of changes realted to Optimizaitoin
  CLAUDE.md
  CLAUDE.md.backup-2025-07-18
  components/CardList.tsx
  components/PocketCardList.tsx
  components/ui/EnhancedEvolutionDisplay.tsx
  components/ui/PokemonFormSelector.tsx
  components/ui/cards/CircularPokemonCard.tsx
  components/ui/cards/UnifiedCard.tsx
  components/ui/loading/UnifiedLoadingScreen.tsx
  package-lock.json
  package.json
  pages/battle-simulator.tsx
  pages/collections.tsx
  pages/favorites.tsx
  pages/pocketmode.tsx
  pages/pocketmode/[pokemonid].tsx
  pages/pocketmode/deckbuilder.tsx
  pages/pocketmode/packs.tsx
  pages/pokedex.tsx
  pages/pokedex/[pokeid].tsx
  pages/pokemon/abilities.tsx
  pages/pokemon/items.tsx
  pages/pokemon/moves.tsx
  pages/pokemon/regions.tsx
  pages/pokemon/starters.tsx
  pages/trending.tsx
  pages/type-effectiveness.tsx
  project-resources/docs/IMMEDIATE_FIXES_REQUIRED.md
  project-resources/docs/POST_MIGRATION_FIXES.md
  project-resources/docs/QA_AGENT_2_DEEP_DIVE_TEST_REPORT.md
  project-resources/docs/SESSION_29_CONTINUATION_NOTES.md
  project-resources/docs/TYPESCRIPT_MIGRATION_FIX_PLAN.md
  project-resources/docs/TYPESCRIPT_MIGRATION_SESSION_28_STATUS.md
  utils/apiutils.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Add battle simulator team builder and damage calculator pages
  pages/battle-simulator/damage-calc.tsx
  pages/battle-simulator/team-builder.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor: add battle simulator logic
  pages/battle-simulator.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Replace window.location with router
  components/GlobalErrorHandler.tsx
  components/TCGSetsErrorBoundary.tsx
  components/layout/ErrorBoundary.tsx
  components/mobile/MobileIntegration.tsx
  components/mobile/MobileShare.tsx
  components/pwa/AppUpdateNotification.tsx
  components/pwa/PWAProvider.tsx
  components/qol/ContextualHelp.tsx
  components/qol/KeyboardShortcuts.tsx
  components/ui/AdvancedKeyboardShortcuts.tsx
  components/ui/FloatingActionSystem.tsx
  components/ui/PageErrorBoundary.tsx
  components/ui/SocialCommunityHub.tsx
  components/ui/charts/PriceHistoryChart.tsx
  components/ui/loading/PokemonEmptyState.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: strongly type pokemon selector callback
  components/ui/EnhancedPokemonSelector.tsx
  pages/battle-simulator.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: resolve TypeScript errors in battle simulator after merge
  pages/battle-simulator.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'
